body {
    font-family: sans-serif;
    margin: 20px;
}
#grid {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-gap: 5px;
    margin-bottom: 10px;
}
button {
    height: 60px;
    font-size: 1.5em;
}
#info {
    margin-top: 10px;
    font-size: 1.2em;
}
.krtko {
    background-image: url('krtko.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}